label {
    display: block;
    margin: 0.5rem 0;
    line-height: 1.5;
  }
  body {
    background-image: url(https://wallpaperaccess.com/full/177150.jpg);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    margin: 0;
    background-color: #F5DEB3;
    color: #8B4513;
    font-family: Menlo;
    font-size: 16px;
  }
  .survey{
    width: 80%;
    background-color: #F5DEB3;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  h1, p {
    margin: 0.4em auto;
    text-align: center;
  }

  form {
    padding-top:20px;
    max-width: 500px;
    min-width: 300px;
  }
  fieldset {
    border-style: solid;
    border-color:#8B4513;
    padding: 1rem 0;
    padding-left: 2em;
    margin-bottom: 20px;
  }
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 90%;
    min-height: 2em;
  }
  input, textarea {
    background-color: #FFF8DC;
    border: 1px solid #8B4513;
    color: #8B4513;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  input[type="submit"] {
    display: block;
    width: 10%;
    margin: 1.2em auto;
    height: 2.5em;
    font-size: 1.2rem;
    background-color: #FFF8DC;
    color: #8B4513;
    min-width: 300px;
    border-style:solid;
    border-color:#8B4513;
  }
  